<div >
  <nav class="navbar navbar-default">
    <div class="container-fluid gameInfo">
      <div class="row">
        <div class="col-sm-9 text-right">
          <h4>Scores: <strong>{{ scores }}</strong></h4>
        </div>
        <div class="col-sm-3 text-right">
          <h4>Time left: <strong>{{ timeLeft }}</strong></h4>
        </div>
      </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-game">
    <div style="text-align:center">
      <span class="anagramChar" ng-repeat="char in mingled track by $index">{{ char }}</span>
    </div>
  </div>
    
  <input autofocus ng-model="userInput" ng-keyUp="checkUserInput($event)" type="text" ng-model="userName" class="form-control input-lg solution" placeholder="Type your solution">
</div>

